html {
    background-color: rgb(255, 226, 187);
}

body{margin: 30px}


.site-header {
    background-color:rgb(30, 121, 73); 
    padding: 30px; 
    color: antiquewhite;
    margin-bottom: 20px;

}

.page-name{
    margin-bottom: 30px;
}
.nav-links {color:antiquewhite
}



.main-content { background-color:darkslateblue;
    color:antiquewhite;
    padding: 10px;
    margin-bottom: 10px; 
}

.site-footer { 
    color:antiquewhite
    background-color: rgb(0, 91, 91) ;
    padding: 20px;
}